<?php
/**
 * Define the service manager alias for the doctrine entity manager that goalioforgotpassword needs
 * because DoctrineModule does not seem to support the use of aliased service names.
 * 
 * @link https://github.com/doctrine/DoctrineModule/issues/246
 * @link https://github.com/goalio/GoalioForgotPasswordDoctrineORM/issues/5
 */
return array(
    'service_manager' => array(
        'aliases' => array(
            'goalioforgotpassword_doctrine_em' => 'Doctrine\ORM\EntityManager',
        )
    )
);
